# UID, GID et HOSTNAME config
SYS_USER_UID=1000
SYS_USER_GID=1000
SYS_USER_NAME=www-data

APP_HOST=127.0.0.1
APP_PORT=8080
APP_ROOT_DIR=.
APP_WORK_DIR=/var/www/app

DOCKER_SERVICE_NAME_PHP=es-lib-php

COMPOSE_PROJECT_NAME=es-lib

# PHP
PHP_VERSION=8.3
